* {
  font-size: 30px;
}

img {
  height: 500px;
  width: 500px;
}

<<<<<<< HEAD
/* body {
  background-color: black;
}
body {
  background-color: #1A1A2E;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  background-color:#142850;
}
*/
=======
body {
  color: white;
  background-image: url('https://wallpaperaccess.com/full/897502.png');
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.searchCSS {
  padding-top: 10%;
}
>>>>>>> 032527d5761b3308fc380f08969af598e6bc0b63
